











#fullpage .section1{
    background: no-repeat center center/cover;
    background-image: url(../image/wallpaper01.png);
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}





.section1 .wrapper {
    height: 100vh;
    
    margin: 0 auto;
    
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .typing-demo {
    width: 17ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin-bottom: 350px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}

.section2 {
  background: rgba(35, 38, 66, .4);
}

.section2 .text_wrap {
    max-width: 55rem;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    color: #283272;
}

.section2 .text_wrap h2 {
    font-weight: 900;
    font-size: 1.5rem;
    max-width: 10ch;
}

.section2 .video_wrap {
    width: 800px;
    margin: 50px auto;
}

.section2 .video_wrap .video_ratio {
    height: 0;
    padding-top: 56.25%;
    position: relative;

}
.section2 .video_wrap .video_ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
.section3 {
  box-sizing: border-box;
  margin: 0 au;
  background: #000;
  background-size: cover;
}
.section3 video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section3 div#fashion {
  min-height: 100vh;
  display: inline;
  align-items: center;
  justify-content: center;
}



.section3 h2 { 
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 8vmin;
  text-align: center;
  margin: 2rem 3rem 0;
  mix-blend-mode: overlay;
  color: #fff;
  font-weight: 100;
}
View Compiled


















/* FOOTER */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.section__footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.section__footer:focus,
.section__footer:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.section__footer {
  display: grid;
  

  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;

}

.section__footer .wrapper {
  display: inline-flex; 
  margin-left: 30%;
}

.section__footer .wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  margin-left: 70px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section__footer .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section__footer .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section__footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.section__footer .wrapper .icon:hover span,
.section__footer .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.section__footer .wrapper .facebook:hover,
.section__footer .wrapper .facebook:hover .tooltip,
.section__footer .wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.section__footer .wrapper .twitter:hover,
.section__footer .wrapper .twitter:hover .tooltip,
.section__footer .wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.section__footer .wrapper .instagram:hover,
.section__footer .wrapper .instagram:hover .tooltip,
.section__footer .wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}



.section__footer .wrapper .youtube:hover,
.section__footer .wrapper .youtube:hover .tooltip,
.section__footer .wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}