


/* HEADER */



.header {
    position: fixed;
    margin-top: 5px;
    left: 100px;
    right: 100px;
    top: 0;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
}




nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 30px;
}

.nav_links {
    flex: 1;
    text-align: right;
}
.nav_links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 40px;
    position: relative;
    
}

.nav_links ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #000;
}

.nav_links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: rgba(148, 0, 211, .5);
    display: block;
    margin: 4px auto 0 auto;
    transition: 0.5s;
}

.nav_links ul li:hover::after {
    width: 100%;
}